.modal {
	z-index: 3;
	display: none;
	position: fixed;
	// display: flex;
	justify-content: center;
	padding-top: 50px;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	// background-color: rgba(89, 0, 255, 0.316);
}
.content {
	background-color: $bg_4;
	width: 600px;
	height: 600px;
	position: relative;
	text-align: center;

	span {
		position: absolute;
		top: 0;
		right: 3px;
		cursor: pointer;
	}
	form {
		input {
			font-size: 18px;
			width: 400px;
			height: 55px;
			color: $fc_1;
			background-color: $bg_5;
		}
	}
}
