.top_nav {
	z-index: 4;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	// gap: 20px;
}
button {
	@include themeBtn;
	margin-left: 20px;
	margin-bottom: 100px;
	&:hover {
		background-color: red;
	}
}
