// font
$fc_1: #e6dfdf;
$fc_2: rgb(158, 155, 155);
$fc_3: #f7a131;

$theme_c: #ff9100d2;

// background
$bg_1: rgb(8, 8, 8);
$bg_2: rgba(
	$color: #ffffff,
	$alpha: 0.07,
);
$bg_3: rgba(
	$color: #a59f9f,
	$alpha: 0.15,
);
